body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.text {
	font-family: 'Raleway', sans-serif;
	color: #120d0c;
}

.background {
	position: relative;
	opacity: 1;
}

.header {
	width: 100%;
	background-color: rgba(0,0,0,.2);
	margin-top: -600px;
	margin-left: -30px;
}

.header ul {text-align: right;}

.header ul li {
	list-style: none;
	display: inline-block;
}

.header ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 20px;
	font-family: 'Baloo 2', cursive;
	letter-spacing: 5px;
	font-weight: 600;
	padding: 25px;
	transition: all ease 0.5s;
}

.header ul li a:hover {
	background-color: #de9000;
	opacity: .3;
	color: white;
}

.logo {
	text-align: left;
	opacity: 1;
	margin-top: -132px;
	margin-left: 25px;
}

.button{
	margin-left: 240px;
	margin-top: 20px;
}

.button img{
	width: 35px;
	margin-top: 35px;
	margin-left: 110px;
	color: #000;
}

.step2 {margin-top: 30px;}

.step3 {margin-top: 30px;}

.step4 {
	margin-left: 210px;
	margin-top: -255px;		
}

.step5 {
	margin-left: 210px;
	margin-top: 30px;
}

.step6 {
	margin-left: 210px;
	margin-top: 30px;
}

h3{
	border: 1px solid #de9000;
	background-color: #de9000;
	font-family: 'Baloo 2', cursive;
	border-radius: 30px;
	padding: 10px 50px;
	opacity: .8;
	color: #fff;
	position: absolute;
}

h3:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #ff105f;
	opacity: .5;
	transition: all ease 0.5s;
}

.hero {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Latar.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.form-box {
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: white;
	padding: 5px;
	overflow: hidden;
	border-radius: 10px;
}

.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}

.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 30px;
	transition: .5s;
}

.social-icons {
	margin: 30px auto;
	text-align: center;
}

.social-icons img {
	width: 40px;
	margin: 0 13px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
}

.input-group {
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
	font-family: 'Raleway', sans-serif;
}

.input-field {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background :transparent;
}

.submit-btn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	outline: none;
	border: 0;
	border-radius: 30px;
}

.check-box {margin: 30px 10px 30px 0;}

span {
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}

#login {left: 50px;}

#signup {left: 450px;}

.desc {
	width: 100%;
	height: 600px;
	background-color: #F1EFEF;
	margin-top: -26px;
	overflow: hidden;
}

.desc h2 {
	display: flex;
	flex-wrap: wrap;
	width: 35%;
	margin-left: 120px;
	margin-top: 100px;
	font-family: 'Baloo Bhaina 2', cursive;
	letter-spacing: 0.5px;
	font-weight: lighter;
	text-align: center;
}

.footer {
	width: 100%;
	height: auto;
	margin: auto;
	background: #edebfa;
	padding: 10px 10px 100px;
}

.footer-menu-one {
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 25px;
}

.footer-menu-one ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-menu-one ul li {
	display: inline-block;
	margin: 0px 15px;
}

.footer-menu-one ul li a {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.footer-menu-one ul li a:hover {color: #de9000;}

a {
	text-decoration: none;
	outline: none;
}

.footer-menu-two {
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 15px;
}

.footer-menu-two ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-menu-two ul li {
	display: inline-block;
	margin: 0px 15px;
}

.footer-menu-two ul li a {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.footer-menu-two ul li a:hover {color: #de9000;}

.footer-bottom {
	width: 98.8%;
	height: auto;
	margin: auto;
	background: #ec6d10;
	padding: 8px;
	opacity: 0.85;
}

.footer-bottom p {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-align: center;
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
}

.footer-bottom p a {color: white;}

.footer-bottom p a:hover {color: #417770;}

.navbar{
	position: absolute;
	margin-left: 960px;
	margin-top: 40px;
}
.navs{
	padding: 10px 20px;
	font-size: 19px;
	font-family: "source sans pro", sans-serif;
}
.navs:hover{
	color: #fff;
	background: lightblue;
	transition: 0.3s;
}

.batas {
	border-left: 5px solid black;
	height: 500px;
	position: absolute;
	margin-left: 700px;
	margin-top: -512px;
}
.friend{
	border: 2px solid #000;
	position: absolute;
	margin-left: 20px;
}
.list p {
	margin: 10px 20px 100px; 
}